// vars

$img_path: '../images';


// the fonts


// col width
$one_col_width: 12.5%;

// fonts and typefaces
$font_body: 'Open Sans', sans-serif;
$font_headline: 'Anton', sans-serif;
$text_color_default: #000;


// colors
$lightYellow: #f7e9d0;
$darkYellow: #d4a32d;
$red: #9e0b0f;

$sky: #bce4e5;
$beige: #fff1ce;
$green: #9fce45;
$blue: #279DF7;
$orange: #fe8402;
$cream: #FFF1CE;
$yellow: #FCBF28;


// default top bar layout bits
$defaultTopBarSidePadding: 6px;
$defaultTopBarColorBG: #fff;
$defaultTopBarColorControlOff: transparent;
$defaultTopBarColorControlOn: #FFF1CE;
$defaultTopBarColorTextOff: #FFF1CE;
$defaultTopBarColorTextOn: #fff;

// default top bar layout bits
$topBarHeight: 90px;
$topBarMobileHeight: 60px;
$defaultWidthHeight: 32px;
$defaultTopBarColorProgressBG: #43758f;
$defaultTopBarColorProgressBar: #FFF1CE;
$progressBarHeight: 5px;
